.side-bar{
    width: 15vw;
    height: 100vh;
    background-color: #ffff;
    box-shadow: 0 4px 4px black;
    padding: 20px;
    margin-top: 2px;
}
.section{
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px black;
}

.section:hover{
    background-color: #d8d8d8;
}

.section a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    .side-bar{
        display: none;
    }
}